{% extends 'blog/base.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}

{% include 'blog/_header.html' %}

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                <article class="post post-1 typo">
                    <header_blog class="entry-header"> <!-- 避免样式冲突，重命名blog.css的header为header_blog -->
                        <h1 class="entry-title">{{ blog.title }}</h1>
                        <div class="entry-meta">
                            {% if blog.author %}
                            <span class="user_left"> <a href="{% url 'blog:profile' blog.author %}"> <img src="{{ blog.profile.gravatar }}"></a></span>
                            {% endif %}
                            <span class="post-date">
                                <time class="entry-date"
                                      datetime="2016年8月21日 12:41">{{ blog.pub_date }}
                                </time>
                            </span>
                            {% if blog.author %}
                            <span class="post-author"><a href="{% url 'blog:profile' blog.author %}">{{ blog.author }}</a></span>
                            {% endif %}
                            <span class="comments-link">{{ comments.count }} 评论</span>
                            <span class="post-views">{{ blog.read }} 阅读</span>
                        </div>
                    </header_blog>
                    <div class="entry-content clearfix">
                        {{ blog.body }}

                    </div> <div class="clearfix"></div>
                </article>
                <form style="margin-top:500px;" id="comment-form" method="post">
                    {{ form }}
                    <input type="submit" value="回复">
                </form>
                <div class="comment-panel">
                    {% if comments %}
                    {% for comment in comments %}
                    <a href="{% url 'blog:profile' comment.user %}">
                        <img src="{{ comment.profile.gravatar }}">
                    </a>
                    <a href="{% url 'blog:profile' comment.user %}"><span>{{ comment.user }}</span></a>
                    <div class="comment-content">
                     {{ comment.body }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </main>
        </div>
    </div>
</div>

{% endblock %}