{% extends 'blog/base.html' %}
{% load static %}
{% block head %}
    {{ block.super }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Alan">


{% endblock %}

{% block body %}

{% include 'blog/_header.html' %}

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To My Space!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <a href="{% url 'blog:register' %}" class="page-scroll btn btn-xl">Sign Up</a>
        </div>
    </div>
</header>

{% endblock %}