{% load static %}

<!-- Navigation -->
<div class="header_bg" id="home"><!-- start header -->

	<div class="row text-center specials">
		<nav class="top-nav">
			<div class="navbar-header page-scroll">
			<a class="navbar-brand page-scroll" href="https://github.com/bianQ/django">Github</a>
			</div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
					{% if request.user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="{% url 'blog:profile' request.user.username %}">Home</a>
                    </li>
					{% else %}
					<li>
                        <a class="page-scroll" href="{% url 'blog:index' %}">Home</a>
                    </li>
					{% endif %}
                    <li>
                        <a class="page-scroll" href="{% url 'blog:list' %}">Blog</a>
                    </li>
					{% if request.user.is_authenticated %}
					<li>
                        <a class="page-scroll" href="{% url 'blog:profile' request.user.username %}">Profile</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'blog:logout' %}">Sign Out</a>
                    </li>
					{% else %}
					<li>
                        <a class="page-scroll" href="{% url 'blog:login' %}">Sign In</a>
                    </li>
					{% endif %}
                </ul>
			<a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a>
		</nav>
		<div class="clearfix"></div>
	</div>
</div>

